:root {
  /* Cores */
  --color-text: #eeeeee;
  --color-secondary: #f44336;
  --color-primary: #ff9800;
  --color-dark: #111111;
  --color-bg: #1a1a1a;

  /* Fontes */
  --font-poppins: "Poppins";
}
