:root {
  --color-text: #e0e0e0;
  --color-secondary: #9b9b9b;
  --color-primary: #4a90e2;
  --color-dark: #2c3e50;
  --color-bg: #121518;

  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;
}
